h1[data-v-363251f4]{font-size:2.5rem!important;font-weight:600;margin-bottom:1.5rem}.text-gradient[data-v-363251f4]{background:linear-gradient(90deg,#4299e1,#9f7aea);-webkit-background-clip:text;-webkit-text-fill-color:transparent}
